@import "./reset.scss";

// @font-face {
//   font-family: "SF";
//   src: url("../assets/fonts/SFProDisplay-Semibold.ttf") format("truetype");
// }

body {
  background-color: $primary;
  font-family: "SF", sans-serif;
  color: $secondary;

}

